h1{
    color: green;
}

#wrapper{
    width: 100%;
    text-align: center;
}

canvas{
    display:inline;
    height: 40%;
}
button{
    padding: 20px;
}

#result-box > div{
    box-sizing: border-box;
    float: left;
    padding: 40px;
    font-size: 2em;
}

#vs {
    width: 10%;
    text-align: center;
}

.result-slot {
    width: 45%;
}

#slot1{
    text-align: right;
    background: red;
}

#slot2{
    text-align: left;
    background: blue;
}
